@model EWBOK_Final_Project.Models.LoginModel

<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Đăng nhập</h4>
                <form class="aa-login-form" action="@Url.Action("Login","Login")" method="post" enctype="multipart/form-data">
                    <label for="">Tên tài khoản:<span>*</span></label>
                    <input type="text" name="Username" placeholder="Username or email">
                    <label for="">Mật khẩu:<span>*</span></label>
                    <input type="password" name="PassWord" placeholder="Password">
                    <button class="aa-browse-btn" type="submit">Đăng nhập</button>
                </form>
                <p class="aa-lost-password"><a href="/Login/ForgotPassword">Bạn quên mật khẩu?</a></p>
                <div class="aa-register-now">
                    Bạn chưa có tài khoản?<a href="" data-toggle="modal" data-dismiss="modal" data-target="#Register-modal">Đăng ký ngay!</a>
                </div>
                <button type="submit" id="GoogleLogin" onclick="login()" class="btn btn-danger"><i class="fa fa-google-plus"></i>  Login with Google + </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>