@model List<Model.EF.Slide>

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        @for (int i = 0; i < Model.Count; i++)
        {
            <li class="text-left">
                <img src="~/Data/ImgSlide/@Model[i].Image" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>EWBOK - Bookstore</strong></h1>
                            <p class="m-b-40">@Model[i].Title <br> @Model[i].Decription .</p>
                            <p><a class="btn hvr-hover" href="@Model[i].Link">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
        }
        </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->